@import "App.css";

/* for UI_Navbar.js */
.navbar-container {
    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: center;
        gap: 10px;
    }

    ul li {
        all: unset;
        box-sizing: border-box;
        cursor: pointer;
        display: block;
        text-decoration: none;
    }

    a {
        padding: 5px 14px;
        border-radius: 15px;
        cursor: pointer;
        font-family: "Noto Sans", sans-serif;
        font-weight: 700;
        color: var(--color-pink0);
        text-decoration: none;

        &:hover {
            color: var(--color-red1);
        }

        &.selected {
            background-color: var(--color-red1);
            color: var(--color-white0);
            padding: 10px 28px;
            border-radius: 999px;
        }

        &.selected:hover {
            color: var(--color-white0);
        }
    }
}