/* Colors */
:root {
  --color-white0: #f6f1ed;
  --color-white1: #e1dad7;

  --color-red0: #570000;
  --color-red1: #9e3b3b;

  --color-pink0: #e47281;
  --color-yellow0: #e98c00;
}

/* Font sizes */
:root {
  --fontsize-title: 7rem;
  --fontsize-header: 5.5rem;
  --fontsize-subheader: 4.35rem;
  --fontsize-paragraph: 1rem;
}
